calculator {

 @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

 $font-stack:    Helvetica, sans-serif;
 $primary-color: #fff;
 $bg-color: gray;
 $font-size: 18px;
 $max-mobile-device: 480px;

 a {
  color: white;
 }


 body {
  font-size: $font-size;
  font: 100% $font-stack;
  color: $primary-color;
 }

 #calc-bg{
  max-width: 450px;
  background: $bg-color;
  margin: 50px auto;
  @media screen and (max-width: $max-mobile-device){
   margin: 25px auto;
   max-width: 95%;
  }
 }

 #result {
  display: block;
  font-family: $font-stack;
  height: 50px;
  text-align: right;
  background: #3b3535;
  color: #fff;
  letter-spacing: 4px;
  max-width: 380px;
  padding-right: 15px;
  padding-top: 10px;
  @media screen and (max-width: $max-mobile-device){
   margin: 0 auto;
  }
 }


 .row {
  @media screen and (max-width: $max-mobile-device){
   margin-right: 0px;
   margin-left: 0px;
  }
 }

 .row-common{
  margin-top: 10px;
  margin-bottom: 10px;
  @media screen and (max-width: $max-mobile-device){
   max-width: 100%;
  }
 }

 .calculate-inline {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
  @media screen and (max-width: $max-mobile-device){
   max-width: 90%;
  }
 }

 .reset {
  width: 74%;
  float: left;
  @media screen and (max-width: $max-mobile-device){
   width: 65% !important;
  }
 }



 .divide {
  width: 20%;
  float: right;
 }

 button {
  height: 50px;
  border: 0;
  font-size: $font-size !important;
 }

 .num {
  width: 23%;
  float: left;
  margin-right: 10px;
  @media screen and (max-width: $max-mobile-device){
   float: left;
   width: 22%;
  }

 }

 .hidden-error {
  visibility: hidden;
 }

 .operator {
  float: right;
  width: 20%;
 }



}
